@{
    ViewBag.Title = "Main";
}
<div class="jumbotron">
    <h1>EPAM</h1>
    <h1>Final Course Task</h1>
    <h1>ASP.NET MVC 5</h1>
    <p class="lead">
        For starting, please, <a href="~/Account/Login" class="btn btn-primary btn-lg">Sign in &raquo;</a>
    </p>
</div>