################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectManagement/ProjectManagement.AspNetMvc.PL/App_Data/RepAndUowDemo.mdf
