################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectManagement/ProjectManagement.AspNetMvc.PL/App_Data/RepAndUowDemo.mdf
/ProjectManagement/ProjectManagement.AspNetMvc.PL/App_Data/RepAndUowDemo_log.ldf
/ProjectManagement/ProjectManagement.AspNetMvc.PL/App_Data/RepAndUowDemo.mdf
/ProjectManagement/ProjectManagement.AspNetMvc.PL/App_Data/ProjectManagement.mdf
/ProjectManagement/ProjectManagement.AspNetMvc.PL/App_Data/ProjectManagement_log.ldf
