@{
    ViewBag.Title = "Index";
}

<div class="col-md-8">
    <h2>Index</h2>
    <br />

    @Html.ActionLink("NewRole", "NewRole", "Admin", null, new { })
    @Html.ActionLink("RemoveRole", "RemoveRole", "Admin", null, new { })
</div>
