@{
    ViewBag.Title = "Index";
}

<div class="col-md-8">
    <h2>Index</h2>
    <br/>

    @Html.ActionLink("New Role", "NewRole", "Admin", null, new {})
    @Html.ActionLink("Remove Role", "RemoveRole", "Admin", null, new {})

    @Html.ActionLink("Users Accounts", "UserAccounts", "Admin", null, new {})
</div>